<?php include(__DIR__ . '/../basic/header.html'); ?>
<!-- include summernote css/js -->
<link href="/vendor/summernote/css/summernote.min.css" rel="stylesheet">
<section class="py-5">
    <div class="container-fluid">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-item" role="tab"
                    aria-controls="pills-home" aria-selected="true">部落格管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-import" role="tab"
                    aria-controls="pills-profile" aria-selected="false">標籤管理</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-item" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="card">
                    <div class="card-header">部落格管理</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group form-inline col-auto">
                                <label class="col-form-label col-sm-auto">搜尋：</label>
                                <div class="col-auto">
                                    <input class="form-control" type="text" id="inputSearchBlogs" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-auto">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#blogModal" data-type="add">新增</button>
                            </div>
                            <div class="form-group col-auto">
                                <button type="button" class="btn btn-secondary"
                                    onclick="handleModalEditable()">修改</button>
                            </div>
                            <div class="form-group col-auto">
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#blogModal" data-type="delete">刪除</button>
                            </div>
                            <div class="form-group col-auto">
                                <button type="button" class="btn btn-success" data-toggle="modal"
                                    data-target="#blogModal" data-type="export">匯出</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table id="tableBlog" class="table table-striped table-bordered " style="width:100%">
                                    <thead class="table-dark">
                                        <tr>
                                            <th></th>
                                            <th>標題</th>
                                            <th>內文</th>
                                            <th>使用者</th>
                                            <th>標籤</th>
                                            <th>修訂日期</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-import" role="tabpanel" aria-labelledby="pills-profile-tab">

            </div>
        </div>
        <div class="modal fade" id="blogModal" data-backdrop="static" tabindex="-1" aria-labelledby="blogModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="blogModalLabel"></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">確認</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
</section>
<?php include(__DIR__ . '/../basic/footer.html'); ?>
<script src="/vendor/summernote/js/summernote.min.js"></script>
<script src="/vendor/summernote/js/summernote-zh-TW.min.js"></script>
<script type="text/javascript">
    let tagtypes = [];
    let datatables_setting = {
        "ordering": false,
        "destroy": true,
        "searching": false,
        "language": {
            "processing": "處理中...",
            "loadingRecords": "載入中...",
            "lengthMenu": "顯示 _MENU_ 項結果",
            "zeroRecords": "沒有符合的結果",
            "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
            "infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
            "infoFiltered": "(從 _MAX_ 項結果中過濾)",
            "infoPostFix": "",
            "search": "搜尋:",
            "paginate": {
                "first": "第一頁",
                "previous": "上一頁",
                "next": "下一頁",
                "last": "最後一頁"
            },
            "aria": {
                "sortAscending": ": 升冪排列",
                "sortDescending": ": 降冪排列"
            }
        },
        'columnDefs': [{
            'targets': 0,
            'checkboxes': {
                'selectRow': true
            }
        }],
        'select': {
            'style': 'multi'
        },
    };
    $(function () {
        initDatatablesBlogs();
        getTags();
    });
    function getTags() {
        $.ajax({
            url: `/admin/blogmanage/alltag`,
            type: 'get',
            async: false,
            success: function (response) {
                tagtypes = response;
            }
        })
    }
    function initDatatablesBlogs() {
        $('#tableBlog').DataTable().destroy();
        let datatables_setting_items = JSON.parse(JSON.stringify(datatables_setting));
        datatables_setting_items["processing"] = true;
        datatables_setting_items["serverSide"] = true;
        datatables_setting_items["ajax"] = {
            "url": "/admin/blogmanage/blogs",
            "data": function (d) {
                d.search = $('#inputSearchBlogs').val();
            }
        };
        datatables_setting_items["columns"] = [
            { "data": "article_id" },
            {
                "data": null,
                render: function (data, type, row, meta) {
                    return `<button type="button" class="btn btn-link" name="buttonModalEditable" data-toggle="modal" data-target="#blogModal" data-type="edit" data-id="${row.article_id}" disabled>${row.article_title}</button>`;
                }
            },
            { "data": "article_text" },
            { "data": "user_name" },
            { "data": "tagtypes" },
            { "data": "article_date" },
        ];
        $('#tableBlog').DataTable(datatables_setting_items);
    }
    function handleModalEditable() {
        if ($('[name="buttonModalEditable"]').prop("disabled") == true) {
            $('[name="buttonModalEditable"]').prop('disabled', false);
        } else if ($('[name="buttonModalEditable"]').prop("disabled") == false) {
            $('[name="buttonModalEditable"]').prop('disabled', true);
        }
    }
    // $(document).on('click', "#buttonblogModalSubmit", function (e) {
    //     console.log($('#textAreaSummernoteContent').summernote('code'));
    // })
    // $(document).on('click', "#buttonblogModalSample", function (e) {
    //     console.log(data - id);
    //     let sample = `
    //     <p>sample loading</p>
    //     `;
    //     console.log($('#textAreaSummernoteContent').summernote('code', sample));
    // })
    $(document).on('show.bs.modal', '#blogModal', function (e) {
        let source = e.relatedTarget;
        let type = $(source).attr('data-type');
        if (type == "add") {
            $('#blogModal').find('.modal-title').html(`新增部落格`);
            $('#blogModal').find('.modal-body').html(`
                <form>
                    <div class="row">
                        <label for="inputtitle" class="col-form-label col-sm-auto">輸入標題</label> 
                        <div class="col-sm">
                            <input class="form-control" type="text" id="inputtitle" value="" placeholder="標題">
                        </div>
                    </div>
                    <div class="row">
                        <label for="textAreaSummernoteContent" class="col-form-label col-12">內文</label> 
                        <div class="col-12">
                            <textarea id="textAreaSummernoteContent" ></textarea>
                        </div>
                    </div>
                    <div class="form-group row form-inline">
                    <label for="tag_type" class="col-form-label col-sm-auto">標籤</label>
                        <div class="col-sm">
                            <div class="row" id="tag_type" data-name="tag_type" name="tag">
                            </div>
                        </div>
                    </div>
                </form>
            `);
            $(tagtypes).each(function (index) {
                $('#tag_type').append(`
                        <div class="col-sm-4 ">
                            <div class="form-check ">
                                <input type="checkbox" class="form-check-input" name="tag" id="tag_${index}" value="${this.tag_id}" data-name="tag_type">
                                <label class="form-check-label" for="tag_${index}">${this.tag}</label>
                            </div>
                        </div>
                    `);
            })
            // $('#blogModal').find('.modal-footer').html(`
            //     <button type="button" class="btn btn-primary" id="buttonblogModalSubmit">確認</button>
            //     <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            // `);
            $('#textAreaSummernoteContent').summernote({
                height: 500,
                lang: 'zh-TW'
            });
            // } else if (type == "tag") {
            //     $('#blogModal').find('.modal-title').html(`<form>編輯/新增標籤</form>`);
            //     $('#blogModal').find('.modal-body').html(`
            //     <form>
            //         <div class="col-auto row form-group">
            //             <div class="code" style="margin-top:15px; margin-right:15px;">
            //                 <input type="text" id="inputtitle" value="" placeholder="尋找或新增標籤" class="input-val">
            //                 <canvas id="canvas" width="150" height="30"></canvas>
            //                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#blogtagModal"data-type="searchtag">查詢</button>
            //             </div>
            //         </div>
            //     </form>
            // `);
            //     $('#blogModal').find('.modal-footer').html(`
            //         <button type="button" class="btn btn-primary" id="newＴags">新增標籤</button>
            //         <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            //     `);
        } else if (type == "delete") {
            $('#blogModal').find('.modal-title').html(`<form>刪除部落格</form>`);
            $('#blogModal').find('.modal-body').html(`
               確定要刪除嗎？
        `);
            $('#blogModal').find('.modal-footer').html(`
                <button type="button" class="btn btn-primary" id="deleteBlog">確定</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            `);
        } else if (type == "edit") {
            $('#blogModal').find('.modal-title').html(`編輯部落格`);
            $('#blogModal').find('.modal-body').html(`
                <form>
                    <div class="row">
                        <label for="inputtitle" class="col-form-label col-sm-auto">輸入標題</label> 
                        <div class="col-sm">
                            <input class="form-control" type="text" id="inputtitle" value="" placeholder="標題">
                        </div>
                    </div>
                    <div class="row">
                        <label for="textAreaSummernoteContent" class="col-form-label col-12">內文</label> 
                        <div class="col-12">
                            <textarea id="textAreaSummernoteContent" ></textarea>
                        </div>
                    </div>
                    <div class="form-group row form-inline">
                    <label for="tag_type" class="col-form-label col-sm-auto">標籤</label>
                        <div class="col-sm">
                            <div class="row" id="tag_type" data-name="tag_type" name="tags">
                            </div>
                        </div>
                    </div>
                </form>
            `);
            // $('#blogModal').find('.modal-footer').html(`
            //     <label class="form-label select-label">Example label</label>
            //     <button type="button" class="btn btn-primary" id="buttonblogModalＴags">新增標籤</button>
            //     <button type="button" class="btn btn-primary" id="buttonblogModalSubmit">確認新增</button>
            //     <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            // `);
            $('#blogModal').find('.modal-footer').html(`
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-type="sure" >確認</button>
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                 `);
            $(tagtypes).each(function (index) {
                $('#tag_type').append(`
                        <div class="col-sm-4 ">
                            <div class="form-check ">
                                <input type="checkbox" class="form-check-input" name="tag" id="tag_${this.tag_id}" value="${this.tag_id}" data-name="tag_type">
                                <label class="form-check-label" for="tag_${this.tag_id}">${this.tag}</label>
                            </div>
                        </div>
                    `);
            })
            $('#textAreaSummernoteContent').summernote({
                height: 500,
                lang: 'zh-TW'
            });
            let article_id = $(source).attr('data-id');
            console.log(article_id);
            $.ajax({
                url: `/admin/blogmanage/blog/${article_id}`,
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    $(data).each(function () {
                        console.log(data);
                        $('#blogModal').find('#inputtitle').val(data[0].article_title);
                        $('#blogModal').find('#textAreaSummernoteContent').summernote('code', data[0].article_text);
                        $(data[0].tagtypes).each(function () {
                            console.log(this)
                            $(`[name="tag"][value="${this.tag_id}"]`).prop('checked', true);
                        })
                    })
                }
            });
        } else if (type = "sure") {

        }
    })
    $(document).on('click', "#buttonblogModalSubmit", function (e) {
        var yes = confirm('確定新增？');
        if (yes) {
            addBlogs();
        } else {
        }
    })
    $(document).on('click', "#deleteBlog", function (e) {
        $.ajax({
            url: ``,    //前
            type: 'get',
            dataType: 'json',
            data: {
            },
            success: function (data) {
                $(data).each(function () {
                    console.log(data[0]);
                    $('#blogModal').find('#inputtitle').html(row.article_title);
                    $('#blogModal').find('#textAreaSummernoteContent').summernote(row.article_text);
                })
            }
        });
    })

</script>