<?php include(__DIR__ . '/../basic/header.html'); ?>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5" id="Text">
        <div class="card"  id="blogCard">
            <div class="card-header">
                標題
            </div>
            <div class="card-body">
                內文
            </div>
        </div>
    </div>
</section>
<?php include(__DIR__ . '/../basic/footer.html'); ?>
</body>
<script type="text/javascript">
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    var article_id = urlParams.get('article_id');
    //var article_id_String = JSON.stringify(article_id);
    console.log(article_id);
    $( document ).ready(function() {
        $.ajax({
            url:`/blog/b/${article_id}`,
            type:'get',
            dataType:'json',
            data:{ 
                article_id:article_id
            },
            success:function(data){
                console.log(data[0].article_text);
               $('#blogCard').find('.card-body').html(data[0].article_text)
               $('#blogCard').find('.card-header').html(data[0].article_title)
            },
            error:function(){
                console.log("傳送失敗");
            }
	    });
    });
    
</script>