<?php include(__DIR__ . '/../basic/header.html'); ?>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
    </div>
</nav>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="form-group form-inline col-auto">
                <label class="col-form-label col-sm-auto">搜尋：</label>
                <div class="col-auto">
                    <input class="form-control" type="text" />
                </div>
            </div>
            <div class="form-group form-inline col-auto">
                <label class="col-form-label col-sm-auto">搜尋範圍：</label>
                <div class="col-auto">
                    <select class="form-control">
                        <option>標題</option>
                        <option>作者</option>
                        <option>標籤</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-inline col-auto">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#blogModal"
                    data-type="searchblog">查詢</button>
            </div>
        </div>
    </div>
</section>
<!-- Section-->
<section class="py-5" id="cardsection">
    <div class="container px-4 px-lg-5 mt-5">
        <p class="h3">最新文章</p>
        <div class="table-responsive" id="NewArticle">
            <table class="table table-borderless" id="dataTable" width=100%>
                <thead>
                    <tr>
                        <th hidden>#</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</section>

<?php include(__DIR__ . '/../basic/footer.html'); ?>
<script type="text/javascript">

    // $(document).on('click',"[name=toTextPage]",function(e){ 
    //     console.log(this);
    //     console.log($(this).attr("data-id"));
    //     <form action="display.html" method="GET">
    //         <input type="text" name="serialNumber" />
    //         <input type="submit" value="Submit" />
    //     </form>
    //     document.getElementById("write").innerHTML = window.location.search;
    //     window.location.href="/blog/browse";
    // })
</script>
<script>
    function select() {
        var selected = document.getElementById("tool_type").value;
        console.log(selected, "hello");
    }

    let setting = {
        "ordering": false,
        "destroy": true,
        "searching": false,
        "language": {
            "processing": "處理中...",
            "loadingRecords": "載入中...",
            "lengthMenu": "顯示 _MENU_ 項結果",
            "zeroRecords": "沒有符合的結果",
            "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
            "infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
            "infoFiltered": "(從 _MAX_ 項結果中過濾)",
            "infoPostFix": "",
            "search": "搜尋:",
            "paginate": {
                "first": "第一頁",
                "previous": "上一頁",
                "next": "下一頁",
                "last": "最後一頁"
            },
            "aria": {
                "sortAscending": ": 升冪排列",
                "sortDescending": ": 降冪排列"
            }
        },
        'columnDefs': [{
            'targets': 0,
            'checkboxes': {
                'selectRow': true
            }
        }],
        'select': {
            'style': 'multi'
        },
    };
    let setting_business = JSON.parse(JSON.stringify(setting));
    $('#dataTable').DataTable(setting_business).destroy();
    setting_business['ajax'] = {
        "url": "/blogs",
        "data": function (d) {
        }
    };

    setting_business['processing'] = true;
    setting_business['serverSide'] = true;
    setting_business['columns'] = [
        {
            "data": null,
            render: function (data, type, row, meta) {
                let tags = "";
                $.each(row['tags'], function (key, value) {
                    tags += value['tag'] + " ";
                })
                return `
            <div class="card" name="divArticle">
                <div class="card-header" id="card-header">
                    ${row['article_title']}   
                </div>
                <div class="card-body">
                    <div id="body_content">
                        ${row['article_text'] || ''}    
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <button class="btn btn-secondary" name="toTextPage" onclick="location.href ='/blog/browse?article_id=${row['article_id']}'">閱讀更多</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-5 text-left">
                            <label>標籤：<p id="tags">${tags}<p></label>
                        </div>
                    </div>
                </div>
            </div>`;
            }
        },
    ];
    $('#dataTable').DataTable(setting_business);

</script>