<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>註冊帳號</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</head>

<body>
    <font size='6'>註冊帳號</font>
    <div class="code" style="margin-top:15px; margin-right:15px;">
        <input type="text" value="" placeholder="姓名" class="input-val">
        <canvas id="canvas" width="100" height="30"></canvas>
    </div>
    <div class="code" style="margin-top:15px;">
        <input type="text" value="" placeholder="帳號" class="input-val">
        <canvas id="canvas" width="100" height="30"></canvas>
    </div>
    <div class="code" style="margin-top:15px;">
        <input type="text" value="" placeholder="密碼" class="input-val">
        <canvas id="canvas" width="100" height="30"></canvas>
    </div>
    <font color=#ABABAB size="1">請使用八位以上英數混合字元</font>
    <div class="code" style="margin-top:15px;">
        <input type="text" value="" placeholder="再次輸入密碼" class="input-val">
        <canvas id="canvas" width="100" height="30"></canvas>
    </div>
    <div class="form-group col-auto">
        <input type="checkbox" class="show">顯示密碼
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userManageModal"
            data-type="add">新增</button>
    </div>
</body>

</html>
