<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>找回密碼</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</head>

<body>
    <font size='6'>找回密碼</font><br />
</body>
<div>
    <div class="form-group col-auto">
        <input type="text" value="" placeholder="請輸入email" class="input-val">
        <canvas id="canvas" width="100" height="30"></canvas>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userManageModal"
            data-type="add">查詢</button>
    </div>
    <font color=#ABABAB size="1">輸入您在初次設定時填寫的驗證信箱，系統將重新發送一組新密碼</font>
</div>

</html>