<?php include(__DIR__ . '/../basic/header.html'); ?>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">新增角色</div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-auto">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RoleModal"
                        data-type="add">新增</button>
                </div>
                <!-- <div class="form-group col-auto">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#RoleModal"
                        data-type="edit">修改</button>
                </div> -->
                <div class="form-group col-auto">
                    <button type="button" class="btn btn-secondary" onclick="handleModalEditable()">修改</button>
                </div>
                <div class="form-group col-auto">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#RoleModal"
                        data-type="delete">刪除</button>
                </div>
            </div>
            <div class="modal fade" id="RoleModal" tabindex="-1" aria-labelledby="RoleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="RoleModalLabel">新增帳號</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">確認</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="ConfirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="ConfirmModalLabel">新增帳號</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">確認</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto row form-group">
                    <label class="col-form-label col-auto">名稱：</label>
                    <div class="col-auto">
                        <input class="form-control" id="inputSearchRoles" type="text" placeholder="Ex.農民" />
                    </div>
                </div>
                <div class="col-auto row form-group">
                    <div class="col-auto">
                        <button class="btn btn-primary" type="button">確認</button>
                    </div>
                </div>
            </div>
            <table id="role" class="table table-striped table-bordered " style="width:100%">
                <thead class="table-dark">
                    <tr>
                        <th></th>
                        <th>角色</th>
                        <th>權限</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<?php include(__DIR__ . '/../basic/footer.html'); ?>

<script type="text/javascript">
    let datatables_setting = {
        "ordering": false,
        "destroy": true,
        "searching": false,
        "language": {
            "processing": "處理中...",
            "loadingRecords": "載入中...",
            "lengthMenu": "顯示 _MENU_ 項結果",
            "zeroRecords": "沒有符合的結果",
            "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
            "infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
            "infoFiltered": "(從 _MAX_ 項結果中過濾)",
            "infoPostFix": "",
            "search": "搜尋:",
            "paginate": {
                "first": "第一頁",
                "previous": "上一頁",
                "next": "下一頁",
                "last": "最後一頁"
            },
            "aria": {
                "sortAscending": ": 升冪排列",
                "sortDescending": ": 降冪排列"
            }
        },
        'columnDefs': [{
            'targets': 0,
            'checkboxes': {
                'selectRow': true
            }
        }],
        'select': {
            'style': 'multi'
        },
    };
    let permissions = [];
    $(function () {
        initDatatablesRoles();
        getPermissions();
    });
    function getPermissions() {
        $.ajax({
            url: `/admin/newrole/permissions`,
            type: 'get',
            success: function (response) {
                permissions = response;
            }
        })
    }
    let timeout = {
        'inputSearchRoles': null
    };
    $(document).on('input', '#inputSearchRoles', function () {
        if (timeout['inputSearchRoles'] != null) {
            clearTimeout(timeout['inputSearchRoles']);
        }
        timeout['inputSearchRoles'] = setTimeout(initDatatablesRoles, 1000);
    });
    function initDatatablesRoles() {
        $('#role').DataTable().destroy();
        let datatables_setting_items = JSON.parse(JSON.stringify(datatables_setting));
        datatables_setting_items["processing"] = true;
        datatables_setting_items["serverSide"] = true;
        datatables_setting_items["ajax"] = {
            "url": "/admin/newrole/roles",
            "data": function (d) {
                d.search = $('#inputSearchRoles').val();
            }
        };
        datatables_setting_items["columns"] = [
            { "data": "role_id" },
            {
                "data": null,
                render: function (data, type, row, meta) {
                    return `<button type="button" class="btn btn-link" name="buttonModalEditable" data-toggle="modal" data-target="#RoleModal" data-type="edit" data-id="${row.role_id}" data-name="role_id" disabled>${row.role_name}</button>`;
                }
            },
            { "data": "permissions" },
        ];
        $('#role').DataTable(datatables_setting_items);
    }
    function handleModalEditable() {
        if ($('[name="buttonModalEditable"]').prop("disabled") == true) {
            $('[name="buttonModalEditable"]').prop('disabled', false);
        } else if ($('[name="buttonModalEditable"]').prop("disabled") == false) {
            $('[name="buttonModalEditable"]').prop('disabled', true);
        }

    }
    $(document).on('show.bs.modal', '#ConfirmModal', function (e) {
        let source = e.relatedTarget;
        let type = $(source).attr('data-type');
        $('[name="inputCheckboxPermissions"]:checked').each(function () {
            console.log(this.value);
        })
        if (type == "add") {
            $('#RoleModal').find('.modal-title').text('新增角色');
        } else if (type == "edit") {
            $('#RoleModal').find('.modal-title').text('編輯角色');
        }
    });
    $(document).on('show.bs.modal', '#RoleModal', function (e) {
        let source = e.relatedTarget;
        let type = $(source).attr('data-type');
        if (type == "add" || type == "edit") {
            $('#RoleModal').find('.modal-body').html(`
                <form>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-auto">角色 : </label>
                        <div class="col-sm">
                            <input type="text" id="inputRole" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-check-label col-sm-auto">權限 : </label>
                        <div class="col-sm">
                            <div class="row" id="divFormInlinePermissions">
                            </div>          
                        </div>
                    </div>
                </form>
            `);
            $(permissions).each(function (index) {
                $('#divFormInlinePermissions').append(`
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="inputCheckboxPermissions" id="permission_${this.permission_id}" value="${this.permission_id}">
                            <label class="form-check-label" for="permission_${this.permission_id}">${this.permission_name}</label>
                        </div>
                    </div>
                `);
            })
            $('#RoleModal').find('.modal-footer').html(`
                <button type="button" class="btn btn-primary" data-target="#ConfirmModal" data-toggle="modal" data-dismiss="modal" data-type="${type}">確認</button>
                <button type="button" class="btn btn-secondary" data- dismiss="modal">取消</button>
            `);
            if (type == "add") {
                $('#RoleModal').find('.modal-title').text('新增角色');
            } else if (type == "edit") {
                $('#RoleModal').find('.modal-title').text('編輯角色');
                let role_id = $(source).attr('data-id');
                $.ajax({
                    url: `/admin/newrole/role`,  //多對一表格
                    type: 'get',
                    data: {
                        role_id: role_id
                    },
                    success: function (response) {
                        $(response).each(function () {
                            let row = this;
                            $('#RoleModal').find('#inputRole').val(row.role_name);
                            $(row.permissions).each(function () {
                                $(`[name="inputCheckboxPermissions"][value="${this.permission_id}"]`).prop('checked', true);
                            })
                        })
                    }
                });
            }

        } else if (type == "delete") {
            $('#RoleModal').find('.modal-title').text('刪除帳號')
            $('#RoleModal').find('.modal-body').html(`您確定要刪除嗎？`);
            $('#RoleModal').find('.modal-footer').html(`
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="delete_role_row">確認</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                `);
        }
    })

    $(document).on('click', '#delete_role_row', function (e) {
        let data_arr = [];
        let data = {};
        $('input[type="checkbox"]:checked').each(function () {
            data = {};
            data['role_id'] = $(this).closest(`tr`).find(`[data-name="role_id"]`).attr('data-id');
            data_arr.push(data);
        });
        $.ajax({
            url: `/admin/newrole/role/deleterole`,
            type: 'post',
            data: {
                data: data_arr
            },
            success: function (response) {
                initDatatablesRoles();
            }
        })
    })
</script>