body {
    background-color: rgb(255, 254, 254);
    }
    
    a {
    text-decoration: none;
    font-size: 30px;
    color: blueviolet;
    margin: 50px;
    }
    
    .modal-header h3 {
    font-size: 30px;
    color: blueviolet;
    /* 置中 */
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
    .modal-content {
    background-color: burlywood;
    }
    
    .modal-body form .account,
    .modal-body form .password {
    margin: 30px;
    width: 90%;
    border-radius: 20px;
    }
    
    #account::placeholder {color: rgba(12, 11, 11, 0.479);}
    #password::placeholder {color: rgba(12, 11, 11, 0.479);}
    #email::placeholder {color: rgba(12, 11, 11, 0.479);}
    #name::placeholder {color: rgba(12, 11, 11, 0.479);}

    .remember {
    margin-bottom: 20px;
    }
    
    .modal-body form .btn {
    width: 100%;
    font-size: 25px;
    color: white;
    }